@import "tailwindcss";

@theme {
  --color-primary: #FDFCF8;
  --color-accent-pink: #FFD1DC;
  --color-accent-green: #83a076;
  
  --font-serif: "Playfair Display", serif;
  --font-sans: "Inter", sans-serif;
}

@layer base {
  body {
    @apply bg-primary text-black font-sans antialiased;
  }
}

.font-serif {
  font-family: 'Playfair Display', serif;
}

.font-sans {
  font-family: 'Inter', sans-serif;
}
